@font-face {
  font-family: "Fira Code";
  font-weight: 500;
  font-display: swap;
  src: url('fonts/FiraCode-Medium.woff2') format("woff2");
}

@font-face {
  font-family: "Fira Code";
  font-weight: 700;
  font-display: swap;
  src: url('fonts/FiraCode-Bold.woff2') format("woff2");
}

@font-face {
  font-family: "Luciole";
  font-weight: 400;
  font-display: swap;
  src: url('fonts/Luciole-Regular.woff2') format("woff2");
  size-adjust: 95%;
}

@font-face {
  font-family: "Luciole";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/Luciole-Italic.woff2') format("woff2");
  size-adjust: 95%;
}

@font-face {
  font-family: "Luciole";
  font-weight: 700;
  font-display: swap;
  src: url('fonts/Luciole-Bold.woff2') format("woff2");
  size-adjust: 95%;
}

@font-face {
  font-family: "Luciole";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('fonts/Luciole-BoldItalic.woff2') format("woff2");
  size-adjust: 95%;
}
